.edit-user-form {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .edit-user-form h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .edit-user-form select,
  .edit-user-form input,
  .edit-user-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .edit-user-form button {
    padding: 10px; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .role-input input{
    width: 95%;
  }
  .add-button{
    margin-bottom: 5px;
    width: 50%;
    background-color: #007BFF;
  }
  .delete-button {
    width: 50%;
    background-color: #e12e2e;
  }
  .add-button:hover {
    background-color: #0056b3;
  }
  .delete-button:hover {
    background-color: #aa0101;
  }