.new-products{
    border-bottom: 1px solid rgb(178, 178, 178);
    text-align: center;
    width:30%;
    margin-left: auto;
    margin-right: auto;
    
    font-family: 'Press Start 2P';
    font-size: 1.5em;
    padding: 5px;
}
.items-section{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 140px;
}
.products-section{ 
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}