html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1;
}

#footer {
  display: none; /* Скрываем футер по умолчанию */
  position: fixed;
  bottom: 0;
  width: 90%;
  top: 1100px;
  text-align: center;
  border-top: 1px solid #ccc;
}

.footer {
    background-color: #32963ff1;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
  .footer-info {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-item {
    flex-basis: calc(25% - 20px);
    margin-bottom: 20px;
  }
  
  .footer-item h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .footer-item p {
    font-size: 16px;
    margin: 0;
  }
  