/* Table.css */
.product-table {
    font-family: 'Roboto', sans-serif;
    width: 60%;
    border-collapse: collapse;
  }
  
  .product-table th, .product-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .product-table th {
    background-color: #f2f2f2;
    color: black;
  }
  